		<div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: scroll; outline: none;">
			<ul class="sidebar-menu" id="nav-accordion">
				<h5 class="centered">
				<%= link_to current_school_admin.email, current_school_admin %>
				</h5>
                  <li class="sub-menu dcjq-parent-li">
                      <%= link_to controller: "school_admins", action: "view_verified_students", class: 'dcjq-parent' do %>
                      	<span>Verified students</span>
                      <% end %>
                  </li>

                  <li class="sub-menu dcjq-parent-li">
                      <%= link_to controller: "school_admins", action: "view_subject_requests" , class: 'dcjq-parent' do %>
				       <span>Courses' Requests</span>
				    	<% end %>
                      
                  </li>

                  <li class="sub-menu dcjq-parent-li">
                      <%= link_to controller: "school_admins", action: "view_students_records" , class: 'dcjq-parent' do %>
					    <span>Students' records</span> 
					<% end %>
                  </li>
                  <li class="sub-menu dcjq-parent-li">
                      <%= link_to controller: "school_admins", action: "view_requests" , class: 'dcjq-parent' do %>
					    <span>Students' requests</span> 
					<% end %>
                  </li>
                   <li class="sub-menu dcjq-parent-li">
                  <%= link_to controller: "school_admins", action: "view_teacher_requests" ,class: 'dcjq-parent'  do %>
				    <span>Teachers' requests</span> 
				<% end %>
				</li>
				 <li class="sub-menu dcjq-parent-li">
				<%= link_to controller: "school_admins", action: "add_subject" ,class: 'dcjq-parent'  do %>
		        	<span>New course</span> 
		    	<% end %>
		    	</li>
		    	 <li class="sub-menu dcjq-parent-li">
				<%= link_to controller: "school_admins", action: "view_school_subjects"   , class: 'dcjq-parent' do %>
			        <span>View school subjects</span> 
			    <% end %>
			    </li>
			     <li class="sub-menu dcjq-parent-li">
			    <%= link_to controller: "school_admins", action: "view_teachers_subjects" , class: 'dcjq-parent' do %>
		        <span>View teachers' subjects</span> 
		    	<% end %>
		    	</li>
		    	 <li class="sub-menu dcjq-parent-li">
		    	<%= link_to controller: "school_admins", action: "view_verified_teachers", class: 'dcjq-parent' do %>
		        <span>Verfied teachers</span>
		        <% end %>
		        <li class="sub-menu dcjq-parent-li">
		    	<%= link_to controller: "school_admins", action: "view_in_game_grades", class: 'dcjq-parent' do %>
		        <span>In-game quizes</span>
		        <% end %>
		        </li>
		        <li class="sub-menu dcjq-parent-li">
		    	<%= link_to controller: "school_admins", action: "view_students_grades_in_questions", class: 'dcjq-parent' do %>
		        <span>Students' grades</span>
		        <% end %>
		        </li>
              </ul>
            </div>