<div class="row">
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'menu_school_admin' %>
  </div>
  <div class="col-md-8">
    <table class="table table-hover">
       <thead>
          <tr>
             <th>Subject code</th>
             <th>Subject name</th>
             <th>Teacher's email</th>
             <th>Accept</th>
             <th>Reject</th>
          </tr>
       </thead>
       <tbody>
         <% @requests.each do |s| %>
           <% @subject = Subject.find(s[:subject_id]) %>
           <% @teacher = Teacher.find(s[:teacher_id]) %>
            <tr>
              <td><%= @subject.code %></td>
              <td><%= @subject.name %></td>
              <td><%= @teacher.email %></td>
              <td>
                <%= form_tag("/school_admins/accept_subject_request/" + s[:id].to_s, method: :put)  do %>
                  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                      Accept
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= form_tag("/school_admins/reject_subject_request/" + s[:id].to_s, method: :put)  do %>
                  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                      Reject
                  <% end %>
                <% end %>
              </td>
            </tr> 
        <% end %>
       </tbody>
    </table>
  </div>
</div>