<div class="row">
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'menu_school_admin' %>
  </div>
 <div class="col-md-8 mt">
  <div class="content-panel">
    <h4><i class="fa fa-angle-right"></i> Hover Table</h4><hr>
    <table class="table table-hover">                     
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Code</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @counter = 1 %>
        <% @subjects.each do |subject| %>
          <tr>
            <td><%= @counter %></td>
            <td><%= subject.name %></td>
            <td><%= subject.code %></td>
            <td>
                <%= link_to "/school_admins/show_course/" + subject.id.to_s, class: 'btn btn-theme' do %>
                  <i class="fa fa-cog"></i> show
                <% end %>
            </td>
            <% @counter = @counter + 1 %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- --/content-panel ---->
</div>
</div>








