<div class="row">
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'menu_school_admin' %>
  </div>
  <div class="col-md-8">
    <br>
    <div class="content-panel">
  <h4><i class="fa fa-angle-right"></i> Subject Requests</h4><hr>
  <table class="table table-striped table-advance table-hover">
                            
                            
    <thead>
      <tr>
        <th> Subject code</th>
        <th> Subject name</th>
        <th> Teacher's email</th>
        <th>Accept</th>
        <th>Reject</th>
       </tr>
    </thead>
    <tbody>
      <% @requests.each do |s| %>
        <% @subject = Subject.find(s[:subject_id]) %>
        <% @teacher = Teacher.find(s[:teacher_id]) %>
        <tr>
          <td><%= @subject.code %></td>
          <td><%= @subject.name %></td>
          <td><%= @teacher.email %></td>
          <td>
            <%= form_tag("/school_admins/accept_subject_request/" + s[:id].to_s, method: :put)  do %>
                  <%= button_tag(type: "submit", class: "btn btn-success btn-xs") do %>
                      <i class="fa fa-check"></i>
                  <% end %>
            <% end %>
          </td>
          <td>
            <%= form_tag("/school_admins/reject_subject_request/" + s[:id].to_s, method: :put)  do %>
                  <%= button_tag(type: "submit", class: "btn btn-danger btn-xs") do %>
                      <i class="fa fa-trash-o "></i>
                  <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  </div>
</div>



