<%= form_for(resource, html: {class: 'form-login'}, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="form-login-heading">sign in now</h2>
  <div class="login-wrap">
    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %><br>
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %><br>
    <%= f.submit 'Sign in', class: 'btn btn-theme btn-block' %>
    <hr>

    <div class="registration">
      Don't have an account yet?<br/>
      <%= link_to 'Create an account', new_school_admin_registration_path %>
    </div>

  </div>

<% end %>