<p id="notice"><%= notice %></p>

<p>
  <strong>:</strong>
  <%= @mess. %>
</p>

<p>
  <strong>:</strong>
  <%= @mess. %>
</p>

<p>
  <strong>:</strong>
  <%= @mess. %>
</p>

<%= link_to 'Edit', edit_mess_path(@mess) %> |
<%= link_to 'Back', messes_path %>
