<div class="list-group" width="70px;">
  <%= link_to controller: "students", action: "show", id: current_student.id  do %>
    <i class="list-group-item">My account</i> 
  <% end %>
  <%= link_to controller: "students", action: "show_my_school_subjects"  do %>
    <i class="list-group-item">My school subjects</i> 
  <% end %>
  <%= link_to controller: "students", action: "show_my_school_subjects"  do %>
    <i class="list-group-item">My school subjects</i> 
  <% end %>
  <%= link_to controller: "students", action: "show_my_school_subjects"  do %>
    <i class="list-group-item">My school subjects</i> 
  <% end %>
  <%= link_to controller: "students", action: "show_my_school_subjects"  do %>
    <i class="list-group-item">My school subjects</i> 
  <% end %>
</div>