<div class="row">
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-md-2">
      <%= render partial: "menu_student" %>
  </div>
  <div class="col-md-8">
  <br>
    <div class="content-panel">
    <h4><i class="fa fa-angle-right"></i> School courses</h4><hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      
        <% @subjects.each do |subject| %>
          <tr>
         
            <td><%= subject.name %></td>
            <td><%= subject.code %></td>            
            <td><%= link_to 'Show', show_course_students_path(subject_id: subject[:id]) %></td>
            <td><%= link_to 'take a quiz' , quiz_answers_path(subject_id: subject.id) %></td>         
            <td>
              <%= form_tag("/students/" + 
              "/take_quiz/" + subject[:id].to_s, method: :get)  do %>
                      <%= text_field_tag :Q   %>  
                <%= button_tag(type: "submit", class:"btn btn-theme") do %>
                    Enter no of questions
                     to take a quiz
                <% end %>
              <% end %>
            </td>
             <td>   <%= form_tag("/students/" + 
              "/view_course_teachers/" + subject[:id].to_s, method: :get)  do %>
                <%= button_tag(type: "submit",  class:"btn btn-theme") do %>
                    View teachers
                <% end %>
              <% end %></td>
        
          </tr>
        <% end %> 
        
      </tbody> 

     </table>
     </div>
  </div>
  </div>








