<div class="row">
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="list-group" width="70px;">
   
    <%= link_to controller: "students", action: "view_contacts"  do %>
        <i class="list-group-item">View Contacts</i> 
    <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th> View messages </th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      
        <% @teacher.each do |teacher| %>
          <tr>
             
            <td><%= teacher.teacher_name %></td>
            <td><%= teacher.email %></td>  
              <td>
          <%= form_tag("/teachers/" +
          "/view_messages/" + teacher[:id].to_s, method: :put) do %>
            <%= button_tag(type: "submit", class: "btn btn-danger btn-xs") do %>
              <i class="fa fa-trash-o "></i>
            <% end %>
          <% end %>          
        
            
            </tr>
        <% end %> 

        
      </tbody> 

     </table>
  </div>
  </div>


