<div class="row">
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-md-2">
    <%= render partial: "menu_teacher" %>
  </div>
  <div class="col-md-8">     
	  	<br>
	  	<div class="form-panel">
		<h4 class="mb"><i class="fa fa-angle-right"></i> Filter by : </h4>
		<%= form_tag("/teachers/view_school_verified_students", method: :get, class: "form-inline", role: "form")  do %>
			<div class="form-group">
	            <label class="sr-only" for="exampleInputEmail2">Email address</label>
	            <%= text_field_tag 'search', nil, placeholder: 'Enter search term...', class: "form-control" %>
	        </div>
			
			<select name="filter_method" class="btn btn-default dropdown-toggle">
			  	<option value="">Filter by</option>
			  	<option value="1">Grade</option>
			  	<option value="2">name</option>
			  	<option value="3">Signing up date</option>
			  	<option value="4">Class</option>
			</select>
			<%= button_tag(type: "submit", class: "btn btn-theme") do %>
		    	Search <span class="caret"></span>
			<% end %>
		<% end %>
 	</div>

	 
	<% if @students %>
		<br>
		<div class="content-panel">
			<h4><i class="fa fa-angle-right"></i> Verified students</h4><hr>
			<table class="table table-hover">
			   <thead>
			      	<tr>
				        <th>Name</th>
				        <th>Email</th>
				        <th>Grade</th>
				        <th>Class</th>
				        <th>School</th>
				        <th> View Messages </th>
			     	 </tr>
			   </thead>
			   <tbody>
				   <% @students.each do |student| %>
						<tr>
							<td><% if student[:student_name] %> 
								<%= student[:student_name] %>
							<% else %>
								*No name yet
							<% end %>
							</td>
							<td><%= student[:email] %> </td>
							<td><%= student[:grade] %> </td>
							<td><%= student[:student_class] %> </td>
							<td><%= student[:school] %>  </td>
							<td>   <%= form_tag("/students/" + 
							"/view_messages_students/" + teacher[:id].to_s, method: :put)  do %>
								<%= button_tag(type: "submit", class: "btn btn-primary") do %>
							    	View Messages
								<% end %>
							<% end %></td>
						</tr>

					<% end %>
			   </tbody>
			</table>
		</div>
	<% else %>
		No Students to display.
	<% end %>
  </div>
</div>






