<div class="row">
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-md-2">
    <%= render partial: "menu_teacher" %>
    </div>
  <div class="col-md-8">
    <div class="content-panel">
      <h4><i class="fa fa-angle-right"></i> School subjects</h4><hr>
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      
        <% @subjects.each do |subject| %>
          <tr>
         
            <td><%= subject.name %></td>
            <td><%= subject.code %></td>            
            <td>
              <%= form_tag("/teachers/" + 
              "/request_subject/" + subject[:id].to_s, method: :put)  do %>
                <%= button_tag(type: "submit", class: "btn btn-theme") do %>
                    Request
                <% end %>
              <% end %>
            </td>

        
          </tr>
        <% end %> 


         <% @subjects2.each do |subject| %>
          <tr>
         
            <td><%= subject.name %></td>
            <td><%= subject.code %></td>            
            <td>
             Pending
            </td>

        
          </tr>
        <% end %> 

        
      </tbody> 

     </table>
     </div>
  </div>
  </div>








