<div class="row">
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-md-2">
    <%= render partial: "menu_teacher" %>
  </div>
  <div class="col-md-8">
  <br>
    <div class="content-panel">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th> View messages </th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      
        <% @teacher.each do |teacher| %>
          <tr>
             
            <td><%= teacher.teacher_name %></td>
            <td><%= teacher.email %></td>  
              <td>
          <%= form_tag("/teachers/" +
          "/view_messages/" + teacher[:id].to_s, method: :get) do %>
          <%= button_tag(type: "submit", class: "btn btn-theme03") do %>

              View 
            <% end %>
          <% end %>          
        
            </td>
            </tr>
        <% end %> 

        
      </tbody> 

     </table>
     </div>
  </div>
  </div>


